<div class="container">
    <div class="calendar--object">
    <div class="timezone--fragment">
        Schedule your session!
    <h6>Timezone: {{timezone}}</h6>
</div>
    <div class="schedules--fragment">
        <carousel [height]="40" [cellsToShow]="4" [width]="350" [arrowsOutside]="true" [lightDOM]="true"
            [overflowCellsLimit]="3" arrowsTheme="dark">
            <div *ngFor="let date of responseDates" class="carousel-cell">
                <div class="date--weekDay">{{date.weekDay}}</div>
                <div class="date--currentDay">{{date.currentDate}}</div>
            </div>

        </carousel>
    </div>
</div>
    <div class="schedules--fragment">
        <carousel [cellsToShow]="4" [width]="350" [height]="230" [arrows]="false" [lightDOM]="true" [overflowCellsLimit]="3">
            <div class="carousel-cell" *ngFor="let date of responseDates">

                <div class="" *ngFor="let time of responseTime">
                    <div class="" *ngIf="time.idProfessional === professionalId ">
                        <div *ngFor="let item of time.timesByProfessional">
                            <div *ngFor="let test of sessionTime">
                                <div class="time_slot"
                                    [class.unavailable]="test.hour === item.initTime &&  date.currentDate == test.date">
                                    <span
                                        [class.invisible]="test.hour === item.initTime && date.currentDate == test.date">{{item.initTime}}</span>
                                    <div class="divider"
                                        [class.visible]="test.hour === item.initTime && date.currentDate == test.date">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="time_slot">
                    more
                </div>
            </div>
        </carousel>
    </div>

</div>