<div class="container">
    <carousel [cellsToShow]="4" [width]="400" [arrows]="false" [lightDOM]="true"  [overflowCellsLimit]="3" > 
        <div class="carousel-cell" *ngFor="let date of dates" >
            <div class="" *ngFor = "let time of responseTime">
                <div class="" *ngIf = "time.idProfessional === professionalId ">
                <div  *ngFor = "let item of time.timesByProfessional">
                  <div *ngFor="let test of sessionTime"> 
                      <div class="time_slot"  [class.unavailable] = "test.hour === item.initTime">
                    <span [class.invisible] = "test.hour === item.initTime">{{item.initTime}}</span>
                    <div class="divider" [class.visible] = "test.hour === item.initTime"></div>
                      </div>
                  </div>
                </div>
            </div>

            </div>
            <div class="time_slot">
                more
            </div>
        </div>
    </carousel>

</div>