<div class="container">
    <div class="container_content">
        <section class="content_professionalData">
            <figure class="professionalData--photo">
                <img src="assets/woman.png">
            </figure>
            <article class="professionalData--info">
                <h3>Professional name</h3>
                <h6>Blabal</h6>
                <h5>Blalva</h5>
                <div class="info--price">
                    <h4>R$ 160</h4>
                    <h6>/ 50 minutos</h6>
                </div>
            </article>
        </section>
        <section class="content_professionalDescription">
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci corporis pariatur, beatae ullam
                nesciunt a explicabo nihil porro tenetur id doloremque eveniet aliquid? Perspiciatis deserunt officiis
                modi consequuntur ipsam vero.</span>
        </section>
    </div>
</div>