*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;

    html, body, #root{
        height:100%;
    }

    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        color:#666;
        font-family: 'Fira Sans', sans-serif;
        -webkit-font-smoothing: antialiased!important; 
        background-color: #edf2f5;

        label.star{
        padding: 3px!important;
        font-size: 10px!important;

        } 
    }
}


